:root {
    --primary-color: #fff;
    --secondary-color: #000;
    --accent1-color: #264653;
    --accent2-color: #dcdcdc;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

header {
    display: grid;
    grid-template-columns: 200px 1fr;
    align-items: center;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

header img {
    width: 180px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header,
main,
footer {
    max-width: 840px;
    margin: 0 auto;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--accent2-color);
    text-align: center;
}

h2 {
    background-color: var(--accent1-color);
    text-align: center;
    padding: 8px;
    width: 100%;
}

nav,
p,
article {
    margin: 16px;
    padding: 8px;
}

nav {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    gap: 9%;
    border: 2px solid var(--accent1-color);
}

nav a {
    text-decoration: none;
    color: var(--accent1-color);
    font-weight: bold;
}

section {
    margin: 16px -11px;
    padding: 10px;
}

.socialmedia {
    display: flex;
    justify-content: flex-end;
    text-decoration: none;
    border: none;
}

.socialmedia img {
    width: 32px;
    margin-bottom: 0;

}

.hero {
    position: relative;
    max-width: 1100px;
    margin: 40px auto;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: var(--accent2-color);
    /* white text - make sure there is enough contrast with the background-color */
}

.hero article {
    position: absolute;
    left: 0;
    bottom: 180px;

    display: flex;
    align-items: center;

    max-width: 800px;
    padding: 16px;
    gap: 20px;

    background-color: rgba(255, 255, 255, 0.85);
}

.hero article img {
    float: right;
    width: 125px;
    margin-left: auto;
}

.history {
    display: grid;
    grid-template-columns: 1fr 300px 1fr;
    margin: 2rem 0;
    align-items: center;
    padding: 1rem;

}

.history h2 {
    grid-column: 1/-1;
}

.history img {
    display: block;
    width: 100%;
    height: auto;
    align-self: center;
    margin: 0 auto;
}

.adventure-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
    margin-top: 1rem;
}

figure img {
    width: 100%;
}

figcaption {
    text-align: center;
    font-size: 0.9rem;
    margin-top: 0.5rem;
}

footer {
    display: grid;
    grid-template-columns: 1fr auto;
    text-align: center;
}