:root {
    --primary-color: #fff;
    --secondary-color: #000;
    --accent1-color: #264653;
    --accent2-color: #dcdcdc;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

header {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--accent2-color);
    text-align: center;
}

h2 {
    background-color: var(--accent1-color);
    text-align: center;
    padding: 8px;
    width: 100%;
}

nav,
p,
article {
    margin: 16px;
    padding: 8px;
}

section {
    margin: 16px -11px;
    padding: 10px;
}

.socialmedia a {
    text-decoration: none;
}

.socialmedia img {
    width: 32px;
    margin: 0 5px;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: var(--accent2-color);
    /* white text - make sure there is enough contrast with the background-color */
}

.hero article {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    padding: 0;
    background-color: rgba(255, 255, 255, 0.85);
}

.hero article img {
    float: right;
    width: 125px;
    margin: 12px;
}