* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --heading-background-color: darkblue;
    --all-text-align: center;
    --all-border-color: black;
}

nav {
    background-color: steelblue;
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    display: block;
    color: #fff;
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
}

h1 {
    color: var(--heading-background-color);
    padding: 1rem;
    border-bottom: 3px solid var(--all-border-color);
    font-size: 1.8rem;
}

main img {
    /* you most likely will have other CSS declarations here */
    float: right;
    width: 150px;
    height: auto;
    border: 1px solid var(--all-border-color);
    padding: 2px;
    box-shadow: 0 0 30px gray;
    margin: 0 0 1rem 1rem;
}

p {
    padding: 1rem;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 /0.2);
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: var(--all-text-align);
    position: relative;
}

aside img {
    width: 200px;
    height: auto;
}

aside h2 {
    position: absolute;
    top: center;
    left: 40;
}

header,
.grid,
footer {
    max-width: 840px;
    margin: 0 auto;
}

/* Class Selectors */
.box {
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 1rem;
    background-color: #ddd;
    color: var(--all-border-color);
}

.indent {
    padding-left: 2rem;
}

.grid {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 2fr;
}

main {
    grid-column: 2/3;
    margin: 1rem;
}

aside {
    width: 20rem;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
}

footer {
    text-align: var(--all-text-align);
}